__pycache__/
*.py[cod]
.DS_Store
.env
.venv/

data-collection/data/raw/
data-collection/data/standardized/
data-collection/data/run_reports/
data-collection/data/translation/
*.egg-info/
data-collection/data/history/
node_modules/